@model List<Eventix.Models.Performance>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var perform in Model)
{
    <div>
        @* Event is a reserved keyword in C# *@
        <h2>@perform.Name</h2>
        <p>
            @perform.PerformanceId<br />
            @perform.Description<br />
            @perform.PerformanceDate
        </p>
    </div>
}
