@model List<Eventix.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var evt in Model)
{
    <div>
        @* Event is a reserved keyword in C# *@
        <h2>@evt.Name</h2>
        <p>
            @evt.EventId<br />
            @evt.Description<br />
            @evt.EventDate
        </p>
    </div>
}
